<template>
  <div class="form-wrapper">
    <div>
      <form>
        <section>
          <b-field label="Enter Guest Name">
            <b-input v-model="name"></b-input>
          </b-field>
          <div class="buttons form-submit">
            <b-button type="is-primary" @click="addGuest" expanded>Add Guest</b-button>
          </div>
        </section>
      </form>
    </div>
    <div class="container">
      <div class="panel panel-sm">
        <div class="panel-heading"> 
          <h4>CSV Multi Guest Import</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="csv_file" class="control-label col-sm-3 text-right"></label>
            <div class="col-sm-9">
              <input type="file" id="csv_file" name="csv_file" class="form-control" @change="loadCSV($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import db from '@/firebase/init'

  export default {
    name: 'AddGuest',

    data() {
      return {
        name: '',
        feedback: '',
        file: null,
        workData: null,
        channel_name: '',
        channel_fields: [],
        channel_entries: [],
        parse_header: [],
        parse_csv: [],
        sortOrders:{},
        sortKey: ''
      }
    },

    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      }
    },

    methods: {
      addGuest() {
        if(this.name) {
          db.collection('guests').add({
            name: this.name,
            message: '',
            songs: '',
            diet: '',
            attending: '',
            grouping: ''
          }).then(() => {
            alert('Guest Added')
            this.name = ''
          }).catch(err => {
            this.feedback = 'Error Processing'
          })
        }
      },

      csvJSON(csv) {
        var vm = this
        var lines = csv.split("\n")
        var result = []
        var headers = lines[0].split(",")
        vm.parse_header = lines[0].split(",") 
        lines[0].split(",").forEach(function (key) {
          vm.sortOrders[key] = 1
        })

        lines.map(function(line, indexLine) {
          if (indexLine < 1) return // Jump header line
          var obj = {}
          var currentline = line.split(",")
          headers.map(function(header, indexHeader) {
            obj[header] = currentline[indexHeader]
          })
          result.push(obj)
        })
        
        result.pop() // remove the last item because undefined values

        for(let i in result) {
          db.collection('guests').add({
            name: result[i].Name,
            message: '',
            songs: '',
            diet: '',
            attending: '',
            grouping: result[i].Grouping
          }).then(() => {
            this.name = ''
          }).catch(err => {
            this.feedback = 'Error Processing'
          })
        }
        alert('Users Added')
        return result // JavaScript object
      },

      loadCSV(e) {
        var vm = this
        if (window.FileReader) {
          var reader = new FileReader();
          reader.readAsText(e.target.files[0]);
          // Handle errors load
          reader.onload = function(event) {
            var csv = event.target.result;
            vm.parse_csv = vm.csvJSON(csv)
            
          };
          reader.onerror = function(evt) {
            if(evt.target.error.name == "NotReadableError") {
              alert("Canno't read file !");
            }
          };
        } else {
          alert('FileReader are not supported in this browser.');
        }
      }
    },
  }
</script>

<style>
  .form-wrapper {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 24px;
  }

  .hidden-form {
    display: none;
  }

  .content {
    margin-bottom: 0.5rem !important;
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 600;
  }

  .form-submit {
    margin-top: 1.5rem;
  }

  .file-up {
    margin-top: 36px;
  }

  .panel-heading {
    margin-top: 36px;
  }

  .form-group {
    margin-top: 12px;
    margin-bottom: 12px;
  }
</style>