<template>
  <div class="bridal-party" id="theparty">
    <div class="bridal-party-title">
      <h2 class="bridal-party__title">Bridal Party</h2>
    </div>
    
    <div class="bridal-party__wrapper" data-aos="fade-right" data-aos-offset="100">
      <div class="bridal-party__photo">
        <div class="bridal-party__image-wrapper image-wrapper__katie"></div>
      </div>
      <div class="bridal-party__about">
        <h3 class="about__title"><span class="girl">Maid of Honour - Katherine King</span></h3>
        <p class="about__text">Katie has been around for most of my life. As a typical sister, she stole my clothes, 
          made me do her makeup and now she is claiming my dog Alfie as hers. She is always there for me and will be
          standing by my side on my big day. Thanks sis!</p>
      </div>
    </div>

    <div class="bridal-party__wrapper" data-aos="fade-left" data-aos-offset="100">
      <div class="bridal-party__about">
        <h3 class="about__title"><span class="boy">Best Man - Lachlan Boland</span></h3>
        <p class="about__text">Lachy has gotten better and better at brewing his home brew over the years.
          I can personally vouch for it now, so it is ok, you can try one of his beers. Thanks for being my best man Lachy.
        </p>
      </div>
      <div class="bridal-party__photo">
        <div class="bridal-party__image-wrapper image-wrapper__lachlan"></div>
      </div>
    </div>

    <div class="bridal-party__wrapper" data-aos="fade-right" data-aos-offset="100">
      <div class="bridal-party__photo">
        <div class="bridal-party__image-wrapper image-wrapper__ash"></div>
      </div>
      <div class="bridal-party__about">
        <h3 class="about__title"><span class="girl">Bridesmaid - Ashleigh De Wit</span></h3>
        <p class="about__text">Ash has been there for all the moments in my life, big and small. 
          We met while I was in Uni and now we are two peas in a pod.
          She enjoys a champagne or two, so naturally we bonded. Cheers to Ash!
        </p>
      </div>
    </div>

    <div class="bridal-party__wrapper" data-aos="fade-left" data-aos-offset="100">
      <div class="bridal-party__about">
        <h3 class="about__title"><span class="boy">Groomsman - Callum Moody</span></h3>
        <p class="about__text">Enjoys listening to all your problems and taking long walks on the beach at sunset. 
          We met at Ashgrove in grade 7 and have been good mates ever since.</p>
      </div>
      <div class="bridal-party__photo">
        <div class="bridal-party__image-wrapper image-wrapper__callum"></div>
      </div>
    </div>
  
    <div class="bridal-party__wrapper" data-aos="fade-right" data-aos-offset="100">
      <div class="bridal-party__photo">
        <div class="bridal-party__image-wrapper image-wrapper__amanda"></div>
      </div>
      <div class="bridal-party__about">
        <h3 class="about__title"><span class="girl">Bridesmaid - Amanda McLaughlan</span></h3>
        <p class="about__text">Amanda and I met while I was working in Inverell. We have had some good adventures together, from the Australia Open, to St Paddys day in Brisbane.
          Look to see her out on the dance floor double parked on beer.
        </p>
      </div>
    </div>

    <div class="bridal-party__wrapper" data-aos="fade-left" data-aos-offset="100">
      <div class="bridal-party__about">
        <h3 class="about__title"><span class="boy">Groomsman - Tom Williams</span></h3>
        <p class="about__text">My final groomsman is the singing and dancing, prancing and entrancing, Tom Williams.
          Tom is set to have his own wedding in a couple months time, so sorry ladies, he is off the menu.
        </p>
      </div>
      <div class="bridal-party__photo">
        <div class="bridal-party__image-wrapper image-wrapper__tom"></div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'BridalParty',
        data() {
            return {

            }
        }
    }
</script>

<style>

.bridal-party__header{
	font-size: 60px;
	padding-bottom: 36px;
	padding-left: 24px;
	font-family: Great Vibes,cursive;
	text-align: center;
}

  .bridal-party {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .bridal-party-title {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    z-index: 2;
  }
  .bridal-party__title {
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding-top: 24px;
    padding-bottom: 12px;
    font-family: Great Vibes,cursive;
    z-index: 2;
  }

  .bridal-party__wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 3px;
    background-color: white;
    z-index: 2;
    
  }

  .bridal-party__photo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .bridal-party__image-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-wrapper__katie {
    background-image: url(../assets/katie_cropped.jpg);
  }
  .image-wrapper__lachlan {
    background-image: url(../assets/lachlan_cropped.jpg);  
  }
  .image-wrapper__ash {
    background-image: url(../assets/ash_cropped.jpg);  
  }
  .image-wrapper__callum {
    background-image: url(../assets/callum_cropped.jpg);
  }
  .image-wrapper__amanda {
    background-image: url(../assets/amanda_cropped.jpg);
  }
  .image-wrapper__tom {
    background-image: url(../assets/tom_cropped.jpg);
  }

  .bridal-party__about {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 48px;
    padding-left: 48px;
    
  }

  .about__title {
    font-size: 34px;
    margin-bottom: 0px;
    font-family: Great Vibes,cursive;
    letter-spacing: 1px;
    z-index: 2;
  }

  .about__text {
    font-size: 18px;
  }
  .boy {
    color:rgb(53, 176, 224);
  }
  .girl {
    color:#F71152;
  }

  @media only screen and (max-width: 720px) {
    .bridal-party__wrapper {
      flex-direction: column;
      padding: 24px;
    }
    .bridal-party__about {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
    }
    .bridal-party__photo {
      width: 100%;
    }
    .about__text {
      font-size: 16px;
    }
    .about__title {
      font-size: 30px;
      text-align: center;
    }
  }

	@media only screen and (max-width: 560px) {
    .bridal-party__title {
      font-size: 48px;
    }

	}
</style>