<template>
  <div class="homePage" id="home">
    <Hero></Hero>
    <LeadContent></LeadContent>
    <OurStory></OurStory>
    <Location></Location>
    <BridalParty></BridalParty>
    <Information></Information>
    <Thankyou></Thankyou>
  </div>
</template>

<script>
import Hero from '@/components/Hero'
import LeadContent from '@/components/LeadContent'
import OurStory from '@/components/OurStory'
import Location from '@/components/Location'
import BridalParty from '@/components/BridalParty'
import Information from '@/components/Information'
import Thankyou from '@/components/Thankyou'

export default {
  name: 'Index',
  components: {
    LeadContent,
    OurStory,
    Hero,
    Location,
    BridalParty,
    Information,
    Thankyou
  },

  data() {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
