<template>
  <div class="information" id="info">
    <h2 class="information__header">Event Info</h2>
    <h3 class="information__subheader">Ceremony</h3>
    <p class="information__text">This will begin at 3pm sharp. Please arrive early at the Royal Pines Chapel. After the ceremony,
      please stick around for a few happy snaps.
    </p>
    <h3 class="information__subheader">Cocktail Hour</h3>
    <p class="information__text">We invite you to move to the Hydration bar in Royal Pines, starting at 5pm. There will be 
      canapes provided and a cash bar to wash them down.
    </p>
    <h3 class="information__subheader">Reception</h3>
    <p class="information__text">This will start at 6pm. There is a 5 hour drinks package for you to get stuck into. 
      I am sure our speeches will be more of a hoot once you are all well lubricated. After the formalities, we will turn up the tunes 
      and let our hair down.
    </p>
    <h3 class="information__subheader">Dress Code</h3>
    <p class="information__text">Black Tie, view <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fpin.it%2F3mnedne4ktqgrs%3Ffbclid%3DIwAR0koThGbwx2QdIOjoDtIaKkorPe3hKkgH1Xu0fpDo-tbLol1DC7LOlpTRs&h=AT0jyLfClMGi4Lk3OJtpEv5IjhlpUXPmnE_JAlFAKEnTCsMkTsWNDGT3-IsqkaEi7uWEn_LNAP0mfmdKWJEPCPih-kY4ZLrLpYKOSpS1eWr_UFkY8gtk3dynbP-61KYnHfSDDIXR6WPbrHR899g" class="clothes_site">this site</a> to see examples.</p>
    <h3 class="information__subheader">Wedding Registry</h3>
    <p class="information__text">Your presence on our special day is the greatest present of all! However, if you do wish 
      to celebrate with a gift, a contribution to our wishing well will be warmly appreciated.
    </p>
    <h3 class="information__subheader">Leave the Little Ones</h3>
    <p class="information__text">We would like to give you the night off! Although we love your little ones, this will be an
      adult only event. We would love to see them the next morning at brunch.
    </p>
    <h3 class="information__subheader">Unplugged Ceremony</h3>
    <p class="information__text">Please turn off all devices and enjoy being fully present in this moment with us. We
      have hired a professional photographer to capture these special moments. Go nuts at the reception and use <span class="bolandchain">#thebolandchain</span>
    </p>
    <h3 class="information__subheader">Rehearsal Dinner / Morning After</h3>
    <p class="information__text final-information">For those of you who would like to catch up before and after the wedding day, we will be having 
      an informal, self funded dinner the night before, and breakfast the morning after. Please let us know if you would like to join us and 
      we will book some tables. Further details on times and locations to come.
    </p>
  </div>
</template>

<script>
    export default {
        name: 'Information',

        data() {
            return {

            }
        }
    }
</script>

<style>
  .information {
      background-color: white;
      border-radius: 6px;
      width: 100%;
      max-width: 1000px;
      margin-top: 60px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
  }

  .information__header {
    text-align: center;
    width: 100%;
    font-size: 60px;
    letter-spacing: 1px;
    padding-bottom: 24px;
    z-index: 2;
    font-family: Great Vibes,cursive;
    padding-top: 60px;
  }

  .clothes_site {
    border-bottom: 1px solid rgb(53, 176, 224);
    color:rgb(53, 176, 224);
  }
  .clothes_site:hover {
    background-color: white;
    color:rgb(53, 176, 224)!important;
  }

  .information__subheader {
    font-family: Great Vibes,cursive;
    font-size: 40px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
  }

  .information__text {
    font-size: 18px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 12px;
  }

  .bolandchain {
    font-weight: bold;
    color:rgb(53, 176, 224);
  }

  .final-information {
    padding-bottom: 60px;
  }

  @media only screen and (max-width: 560px) {
    .information__header {
      font-size: 48px;
    }
    .information__subheader {
      font-size: 30px;
    }
    .information__text {
      font-size: 16px;
    }
  }

</style>