<template>
	<div class="lead-content-wrapper" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-delay="0" data-aos-offset="-1100" data-aos-easing="ease-in-back" data-aos-duration="0">
		<div class="lead-content">
			<h1 class="lead-content__title">Mitchell & Sarah</h1>
			<p class="lead-content__paragraph">May 16, 2020 | Gold Coast QLD</p>
			<p class="lead-content__paragraph">{{ daysRemaining }} Days to go!</p>
			<router-link :to="{ name: 'Rsvp' }" class="rsvp-btn margin-bottom">RSVP</router-link>
		</div>		
	</div>
</template>

<script>
  export default {
    name: 'LeadContent',

    data() {
      return {
        daysRemaining: 0
      }
    },
    created() {
      let now = new Date()
      let weddingDate = new Date("May 16 2020 15:00")
      this.daysRemaining = this.dayDiff(now, weddingDate)
    },
    methods: {
      dayDiff(startdate, enddate) {
        var dayCount = 0

        while(enddate >= startdate) {
          dayCount++
          startdate.setDate(startdate.getDate() + 1)
        }

      return dayCount
      }
    }
  }
</script>

<style>
@media only screen and (max-width: 690px) {

}
</style>