<template>
	<section id="location" class="location-wrapper">
		<h3 class="event-location__header">Location</h3>
		<div class="event-location">

			<div class="address-container">
				<p class="event-location__paragraph"><strong>RACV Royal Pines Resort Gold Coast</strong></p>
				<p class="event-location__paragraph">Ross St, Benowa, Gold Coast, QLD</p>
				<p class="event-location__paragraph">The ceremony will be in the chapel at <strong>3:00pm</strong></p>
				<p class="event-location__paragraph">The reception to follow at Royal Pines in the Poinciana room at <strong>6:00pm</strong></p>
        <p class="event-location__paragraph">For <strong>discount accommodation</strong> rates at Royal Pines, please click on the button below</p>
        <div class="event-location__booking-button">
          <a href="https://reservations.travelclick.com/10824?themeid=1377&RATEPLANID=3028241&fbclid=IwAR2H5x1pWFNFuFm0QqnsBcAw9_32RrEyCZYZwEbr1zrvOZK2y7UP0Vfbaa4#/guestsandrooms" target= '_blank' class="rsvp-btn booking-button">BOOKING</a>
        </div>
			</div>

			<div class="map-container">
				<div class="mapouter">
					<div class="gmap_canvas">
						<iframe width="380" height="380" id="gmap_canvas" src="https://maps.google.com/maps?q=Royal%20Pines%20Gold%20Coast&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					</div>
				</div>
			</div>

		</div>
	</section>
</template>

<script>
  export default {
    name: 'Location',

    data() {
      return {

      }
    }
  }
</script>

<style>
  iframe {
    height: 100%!important;
  }

  .location-wrapper {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
  }

  .event-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    background-color: white;
  }

  .address-container {
    width: 50%;
    height: 100%;
    margin-right: 6px;
  }

	.map-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 48px;
    width: 50%;
    height: 100%;
	}

  .booking-button {
    margin-left: 48px;
  }

	.event-location__header {
		font-size: 60px;
		padding-bottom: 36px;
		font-family: Great Vibes,cursive;
		text-align: center;
	}

	.event-location__paragraph {
		font-size: 20px;
		padding-bottom: 6px;
		padding-left: 48px;
	}

  .event-location__booking-button {
    padding-top: 24px;
  }

  @media only screen and (max-width: 690px) {
    .event-location {
      flex-direction: column;
    }
    .address-container {
      width: 90%;
      margin-right: 0;
      padding-bottom: 24px;
    }
    .event-location__paragraph {
      padding: 0;
      text-align: center;
    }
    .map-container {
      width: 90%;
      padding-right: 0;
    }
    .event-location__header {
      padding-bottom: 12px;
    }
    .event-location__booking-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0;
    }
    .booking-button {
      margin-left: 0;
      width: 100%;
      margin-bottom: 0;
      text-align: center;
    }
  }

  @media only screen and (max-width: 560px) {
    .event-location__header {
      font-size: 48px;
    }
    .event-location__paragraph {
      font-size: 16px;
    }
  }
</style>