<template>
	<div class="nav-outer-wrapper">
		<div class="nav-wrapper">
			<nav>
		      <input type="checkbox" id="check" >
		      <label for="check" class="checkbtn" v-on:click="toggleNavigation">
		          <div class="burger-icon">
    <div class="burger-bar js_top"></div>
    <div class="burger-bar js_middle"></div>
    <div class="burger-bar js_bottom"></div>
  </div>
		      </label>

		      <label class="logo" v-on:click="closeNavigation">thebolandchain</label>
		      <ul>
		        <li v-on:click="closeNavigation"><router-link :to="{ name: 'Index' }">Home</router-link></li>
		        <li v-on:click="closeNavigation"><a href="/#location">Location</a></li>
		        <li v-on:click="closeNavigation"><a href="/#theparty">Bridal Party</a></li>
		        <li v-on:click="closeNavigation"><a href="/#info">Info</a></li>
		        <li v-on:click="closeNavigation"><router-link :to="{ name: 'Rsvp' }">RSVP</router-link></li>
		      </ul>
		    </nav>
		</div>
	</div>
</template>

<script>
  export default {
    name: 'Navbar',

    data() {
      return {
        checking: false,
        toggleAnimations: true
      }
    },
    
    methods: {
      toggleNavigation() {
        // Check if the checkbox is checked or not.
        let topBarEl = document.querySelector(".js_top")
        let middleBarEl = document.querySelector(".js_middle")
        let bottomBarEl = document.querySelector(".js_bottom")
        if(this.toggleAnimations) {
          this.toggleAnimations = false
          topBarEl.classList.add("top");
          middleBarEl.classList.add("bottom");
          bottomBarEl.classList.add("bottom");
        } else {
          this.toggleAnimations = true
          topBarEl.classList.remove("top");
          middleBarEl.classList.remove("bottom");
          bottomBarEl.classList.remove("bottom");
        }
      },
      closeNavigation() {
        document.getElementById('check').checked = false;
        let topBarEl = document.querySelector(".js_top")
        let middleBarEl = document.querySelector(".js_middle")
        let bottomBarEl = document.querySelector(".js_bottom")
        topBarEl.classList.remove("top");
        middleBarEl.classList.remove("bottom");
        bottomBarEl.classList.remove("bottom");
        this.checking = false
        this.toggleAnimations = true
      }
    }
  }
</script>

<style>
.temp-logo {
  font-size: 32px;
  letter-spacing: 5px;
}

.burger-icon {
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  position: repative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 9px rgba(0,0,0,0.3);
  transition: all .2s;
  margin-left: auto;
  z-index: 99999;
  background-color: #ffffff;
}

.burger-icon:hover {
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
    cursor: pointer;
}

.burger-bar {
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 8px;
  margin-top:3px;
  margin-bottom: 3px;
  transition: all .2s;
}

.bottom {
  transform: rotate(45deg);
  position: absolute;
  margin-top:0;
  margin-bottom:0;
}

.top {
  transform: rotate(-45deg);
  position: absolute;
  margin-top:0;
  margin-bottom:0;
}

.checkbtn {
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="checkbox"]:focus{
    outline:0;
}
</style>