<template>
	<div class="our-story">
	  <h2 class="our-story__header">Our Story</h2>
	  <p class="our-story__paragraph"><strong class="strong-mitch">Mitch:</strong></p>
	  <p class="our-story__paragraph">On a cold dark windy night, 8 long years ago.</p>
	  <p class="our-story__paragraph"><strong class="strong-sarah">Sarah:</strong></p>
	  <p class="our-story__paragraph">It wasn't a cold dark and windy night.</p>
	  <p class="our-story__paragraph"><strong class="strong-mitch">Mitch:</strong></p>
	  <p class="our-story__paragraph">There stood a stallion, strong & brave, pure & happy, docile yet courageous.</p>
	  <p class="our-story__paragraph"><strong class="strong-sarah">Sarah:</strong></p>
	  <p class="our-story__paragraph">We were at a party.</p> 
	  <p class="our-story__paragraph"><strong class="strong-mitch">Mitch:</strong></p>
	  <p class="our-story__paragraph">I walked in as time slowed around me, and I caught the gaze of a good-looking sheila. </p>
	  <p class="our-story__paragraph"><strong class="strong-sarah">Sarah:</strong></p>
	  <p class="our-story__paragraph">In walks this random bloke, who comes and sits down next to me and shakes my hand.</p> 
	  <p class="our-story__paragraph"><strong class="strong-mitch">Mitch:</strong></p>
	  <p class="our-story__paragraph">Gee she had a good handshake and was very easy on the eyes.</p> 
	  <p class="our-story__paragraph"><strong class="strong-sarah">Sarah:</strong></p>
	  <p class="our-story__paragraph">He told his mates that I had a good handshake and made me shake everyone’s hand.</p> 
	  <p class="our-story__paragraph our-story__final"><strong>So it must have been a good handshake, because we are all now here 8 years later!</strong></p> 
	</div>
</template>

<script>
  export default {
    name: 'OurStory',

    data() {
      return {

      }
    }
  }
</script>

<style>
	.our-story {
	  width: 100%;
	  max-width: 1000px;
	  border-radius: 6px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items:center;
	  margin: 0 auto;
	  padding-top: 60px;
	  padding-bottom: 60px;
	  position: relative;
	  overflow: hidden;
    background-color: white;;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}

	.our-story__header {
	  text-align: center;
	  width:100%;
	  font-size: 60px;
	  letter-spacing: 1px;
	  padding-bottom: 24px;
	  z-index: 2;
	  font-family: Great Vibes,cursive;
	}

	.our-story__paragraph {
	  font-size: 20px;
	  padding-top: 6px;
	  margin-left: auto;
	  margin-right: auto;
	  width: 100%;
	  max-width: calc(100% - 48px);
	  z-index: 2;
	  text-align: center;
	}

  .our-story__final {
    padding-top: 60px;
    text-align: center;
  }

  @media only screen and (max-width: 560px) {
    .our-story__paragraph {
      font-size: 16px;
    }
    .our-story__header {
      font-size: 48px;
    }
	}
</style>