<template>
<div class="rsvp__background">
  <div class="form-wrapper">
    
    <div class="form__header">

      <p class="form__header-ptag">Rsvp Here</p>
    </div>
    <div>
      <form @submit.prevent="updateRsvp">
        <section class="form__section">
          <b-field label="Find you ticket by entering your name">
            <b-autocomplete v-model="name" :data="filteredDataArray" :data-nameInput="updateFormDetails" placeholder="e.g. John Boland" icon="magnify"
              @select="option => selected = option">
              <template slot="empty">No results found</template>
            </b-autocomplete>
          </b-field>
          <div class="inner-form" v-if="invitedGuest">
            <p class="content">Will you be attending?</p>
            <b-field>
              <b-radio-button v-model="radioButton" native-value="true" type="is-success">
                <b-icon icon="check"></b-icon>
                <span>Yes!</span>
              </b-radio-button>
              <b-radio-button v-model="radioButton" native-value="false" type="is-danger">
                <b-icon icon="close"></b-icon>
                <span>No</span>
              </b-radio-button>
            </b-field>
            <b-field label="Add a song request">
              <b-input v-model="guestSong">dd</b-input>
            </b-field>
            <b-field label="Message">
              <b-input v-model="guestMessage"></b-input>
            </b-field>
            <div class="buttons form-submit">
              <b-button type="is-primary" @click="updateRsvp" expanded>Submit</b-button>
            </div>
          </div>
          </section>
        </form>
      </div>

      <b-message title="Success" type="is-success" aria-close-label="Close message" class="success-message" v-if="feedback">
        hello {{ feedback }}
      </b-message>
    </div>
  </div>
</template>

<script>
  import db from '@/firebase/init'

  export default {
    name: 'Rsvp',

    data() {
      return {
        guests: [],
        radioButton: '',
        showing: '',
        data: [],
        name: '',
        selected: null,
        showCode: true,
        invitedGuest: null,
        guestMessage: '',
        guestSong: '',
        guestDiet: '',
        feedback: '',
        guestName: '',
      }
    },

    methods: {
      updateRsvp() {
        if(this.invitedGuest.name && this.invitedGuest.id && this.radioButton) {
          db.collection('guests').doc(this.invitedGuest.id).update({
              message: this.guestMessage,
              songs: this.guestSong,
              diet: this.guestDiet,
              attending: this.radioButton
            }).then(() => {
              // this.$router.push({ name: 'Index' })
              this.alertCustomError()
              this.invitedGuest = ''
              this.name = ''
              
            }).catch(err => {
              this.feedback = 'Error Processing'
          })
        }
      },

      alertCustomError() {
        this.$buefy.dialog.alert({
            title: 'Success',
            message: 'Thankyou for your rsvp',
            type: 'is-success',
            hasIcon: false,
            icon: '',
            iconPack: '',
            ariaRole: 'alertdialog',
            ariaModal: true
        })
      }
    },

    computed: {

      filteredDataArray() {
        return this.data.filter((option) => {
          return option
          .toString()
          .toLowerCase()
          .indexOf(this.name.toLowerCase()) >= 0
        })
      },

      updateFormDetails() {
        if(this.data.includes(this.name)) {
          // Search the database for this users info
          let ref = db.collection('guests').where('name', '==', this.name)
          ref.get().then(snapshot => {
            snapshot.forEach(doc => {
              this.invitedGuest = doc.data()
              this.invitedGuest.id = doc.id
              this.guestMessage = doc.data().message
              this.radioButton = doc.data().attending
              this.guestSong = doc.data().songs
              this.guestDiet = doc.data().diet
            })
          })
        }
      }
    },

    created() {
      // fetch data from the fire store
      db.collection('guests').get()
      .then(snapshot => {
        snapshot.forEach(doc => {
          let guest = doc.data()
          guest.id = doc.id
          this.guests.push(guest)
        })
        // Now add guest names to the data array
        for(var i in this.guests) {
          this.data.push(this.guests[i].name)
        }
      })
      db.collection('private').get()
      .then(snapshot => {
        snapshot.forEach(doc => {
          this.code = doc.data().code
        })
      })
    },
  }
</script>

<style>
  .rsvp__background {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/fun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .95;
    margin-top: -60px;
  }

  .rsvp__background .form__header-ptag {
    font-size: 48px;
    font-family: Great Vibes,cursive;
  }

  .rsvp__background .rsvp__flower {
    position: absolute;
    top: 120px;
    right: -5%;
    transform: translate(-50%, -50%);
  }

  .rsvp__background .form__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .rsvp__background .form-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    box-shadow: 0 3px 9px rgba(0,0,0,0.3);
    position: relative;
    width: 500px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 6px;
    position: relative;
    margin-top: 60px;
  }

  .rsvp__background section {
    margin-top: 4px;
  }
  .success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .2s;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .hidden-form {
    display: none;
  }

  .content {
    margin-bottom: 0.5rem !important;
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 600;
  }

  .form-submit {
    margin-top: 1.5rem;
  }
  a.dropdown-item:hover {
    color: #4a4a4a!important;
  }
  .input:active, .input:focus {
    border-color: #F71152;
  }
  .button.is-primary {
    background-color: #F71152;
  }
  .button.is-primary:hover, .button.is-primary:active {
    background-color: #F71152;
  }

</style>