<template>
  <div class="schedule">
    
  </div>
</template>

<script>
  export default {
    name: 'Schedule',

    data() {
      return {
          
      }
    }
  }
</script>


<style>

</style>
