<template>
  <div class="bridal-party-title thankssection">
    <h2 class="bridal-party__title">Thankyou</h2>
    <p class="thanks__paragraph">We are looking forward to celebrating with you</p>
  </div>
</template>

<script>
  export default {
    name: 'Thankyou',
    date() {
      return {

      }
    }
  }
</script>

<style>
.thankssection {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
}

.thanks__paragraph {
  margin-bottom: 48px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 20px;
}

	@media only screen and (max-width: 560px) {
    .thanks__paragraph {
      font-size: 16px;
    }
  }
</style>