<template>
<div class="table-container">
  <h1>Invited: {{ count }}</h1>
  <h1>Attending: {{ attending }}</h1>
  <h1>Not Attending: {{ notAttending }}</h1>
  <h1>Awaiting Response: {{ awatingResponse }}</h1>
  <h1>Cost: ${{ price }}</h1>
  <b-table :data="guests" :columns="columns"></b-table>
</div>
  
</template>

<script>
  import db from '@/firebase/init'

  export default {
    name: 'ViewGuestStatus',

    data() {
      return {
        guests: [],
        count: 0,
        attending: 0,
        notAttending: 0,
        awatingResponse: 0,
        price: 0,
        columns: [
          {
            field: 'name',
            label: 'Name',
            searchable: true,
          },
          {
            field: 'attending',
            label: 'Attending',
            searchable: true,
          },
          {
            field: 'message',
            label: 'Message',
          },
          {
            field: 'songs',
            label: 'Song',
          },
          {
            field: 'diet',
            label: 'Diet Req',
          }
        ]
      }
    },

    methods: {

    },

    created() {
      // fetch data from the fire store
      db.collection('guests').get()
      .then(snapshot => {
        snapshot.forEach(doc => {
          let guest = doc.data()
          guest.id = doc.id
          this.guests.push(guest)
          if(doc.data().attending == 'true') {
            this.attending ++
            this.price += 180
          } else if(doc.data().attending == 'false') {
            this.notAttending ++
          } else {
            this.awatingResponse ++
          }
        })
        // Get total amount of guests invited.
        this.count = this.guests.length
      })
    }
  }
</script>

<style>

.table-container {
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

</style>