<template>
  <div id="app">
    <!-- Add in the navbar -->
    <Navbar></Navbar>
    <router-view/>
  </div>
</template>

<script>
  import Navbar from '@/components/Navbar'
  export default {
    name: 'App',
    components: {
      Navbar
    }
  }
</script>


<style>
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#app {
  margin: 0;
  padding: 0;
}

.bridal-party{
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;
}

.bridal-party__header{
	font-size: 60px;
	padding-bottom: 36px;
	padding-left: 24px;
	font-family: Great Vibes,cursive;
	text-align: center;
}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		background-image: url(./assets/pattern.jpg);
		background-repeat: repeat;
	}

	body {
		color: #4a4a4a;
	}

	.mapouter {
		position:relative;
		text-align:right;
		height:380px;
		width:380px;
		overflow: hidden;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}
	.gmap_canvas {
		overflow:hidden;
		background:none!important;
		height:380px;
		width:380px;
	}

	.lead-blue {
		bottom: 1%;
		right: 1%;
		width: 50px;
		height: 50px;
	}
	.lead-purple {
		top: 10%;
		left: 5%;
		width: 50px;
		height: 50px;
	}
	.our-pink {
		top: 10%;
		left: 5%;
		width: 50px;
		height: 50px;
	}
	.our-yellow {
		bottom: 1%;
		left: 10%;
		width: 50px;
		height: 50px;
	}

	.our-blue {
		bottom: 1.5%;
		right: 1%;
		width: 50px;
		height: 50px;
	}

	.circ-cent {
		position: absolute;
		transform: translate(-50%, -50%);
	}

	.yellow-circle {
		border-radius: 50%;
		background-color: #F4BD2C;
	}
	.orange-circle {
		border-radius: 50%;
		background-color: #F18429;
	}
	.purple-circle {
		border-radius: 50%;
		background-color: #6158A3;
	}
	.pink-circle {
		border-radius: 50%;
		background-color: #F71152;
	}
	.blue-circle {
		border-radius: 50%;
		background-color: #8BCDE7;
	}
	.green-circle {
		border-radius: 50%;
		background-color: #85B442;
	}

.strong-mitch{
	color:rgb(53, 176, 224);
}
.strong-sarah{
	color:#F71152;
}

.lead-content-wrapper{
	position:relative;
	margin: 0 auto;
	margin-bottom: 310px;
	width: 100%;
	max-width: 1000px;
}
	.lead-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		z-index: 2;
		max-width: 1000px;
		margin:0 auto;
		position: relative;
		overflow: hidden;
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 6px;
		background-color: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}


	.lead-content__title {
		padding-top: 60px;
		font-size: 72px;
		letter-spacing: 3px;
		font-family: Great Vibes,cursive;
	}

	.lead-content__paragraph {
		font-size: 24px;
		padding-bottom: 12px;
	}
	.lead-content__paragraph:last-child {
		padding-bottom: 60px;
	}

	.rsvp-btn {
		background-color: #F71152;
		color: white;
		text-decoration: none;
		font-size: 24px;
		border-radius: 9px;
		letter-spacing: 3px;
		background-color: #F71152;
		overflow: hidden;
		border-radius: 9px;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 24px;
		padding-right: 24px;
		margin-top: 24px;
		margin-bottom: 60px;
		border: none;
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		transition: all .2s;
	}
	.rsvp-btn:hover {
		color: white;
		transform: translateY(-3px);
		box-shadow: 0 3px 6px rgba(0,0,0,0.3);
		cursor: pointer;
		color: white !important;
	}

	.nav-outer-wrapper {
		position: sticky;
		top: 0;
		box-shadow: 0 1px 3px rgba(0,0,0,0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0.8);
		z-index: 10;
	}
	.nav-wrapper {
		width: 1000px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		

	}
	nav {
	  height: 60px;
	  width: 100%;

	}
	label.logo {
	  font-size: 35px;
	  line-height: 60px;
	  padding: 0 24px;
	  font-weight: bold;
		background-image: linear-gradient(to left, #F71152, rgb(53, 176, 224));
    -webkit-background-clip: text;
    color: transparent;
	}
	nav ul {
	  float: right;
	  margin-right: 24px;
	}
	nav ul li {
	  display: inline-block;
	  line-height: 60px;
	  margin: 0 5px;
	}
	nav ul li a {
	  color: white;
	  font-size: 17px;
	  padding: 7px 13px;
	  border-radius: 3px;
	  text-transform: uppercase;
	}
	a.active,a:hover {
	  background: #F71152;
	  transition: .5s;
    color: white!important;
	}
	.checkbtn{
	  font-size: 30px;
	  color: white;
	  float: right;
	  line-height: 60px;
	  margin-right: 24px;
	  cursor: pointer;
	  display: none;
	}
	#check {
	  display: none;
	}

	.hero {
		width: 100%;
		height: 800px;
		max-height: calc(100vw / 1.1);
		background-image: url(./assets/sarah_mitch_hd.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		margin: 0 auto;
	}

	@media (max-width: 952px) {
	  label.logo{
	    font-size: 24px;
	    padding-left: 24px;
	  }
	  nav ul li a {
	    font-size: 16px;
	  }

	  .our-story__header {
	  	font-size: 48px;
	  }
	  .our-story__paragraph {
	  	font-size: 20px;
	  }
	}


	@media (max-width: 858px) {
	  .checkbtn {
	    display: block;
	  }
	  ul{
	    position: fixed;
	    width: 100%;
	    height: 100vh;
	    background-color: rgba(0,0,0,0.9);
	    top: 60px;
	    left: -100%;
	    text-align: center;
	    transition: all .5s;
	  }
	  nav ul li {
	    display: block;
	    margin: 50px 0;
	    line-height: 24px;
	  }
	  nav ul li a {
	    font-size: 20px;
	  }

	  #check:checked ~ ul {
	    left: 0;
	  }
	}

	@media only screen and (max-width: 560px) {
		.lead-content__title {
			font-size: 48px;
      padding-top: 36px;
		}
    .margin-bottom {
      margin-bottom: 36px;
      margin-top: 12px;
    }
		.lead-content__paragraph {
			font-size: 16px;
		}
		.lead-content-wrapper {
    		margin-bottom: 240px;

 	 	}
    .bridal-party__title {
      font-size: 48px !important;
    }  
		
	}

	@media only screen and (max-width: 360px) {
		.lead-content__title {
			font-size: 36px;
		}
	}
	@media only screen and (min-width: 1000px) {
		.hero {
			border-radius: 0 0 6px 6px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		}
	}
</style>
